
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-shop-link-primary: mat.define-palette(mat.$indigo-palette);
$app-shop-link-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-shop-link-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-shop-link-theme: mat.define-light-theme((
  color: (
    primary: $app-shop-link-primary,
    accent: $app-shop-link-accent,
    warn: $app-shop-link-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-shop-link-theme);

/* You can add global styles to this file, and also import other style files */
html, body{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-color: #ecd24d; /*En cas de problème de chargement de l'image d'arrière plan ci-dessus, on charge un fond uni.*/
background-size: cover; /*Faire prendre toute la largeur de la page*/
background-attachment: fixed; /*Laisser fixe l'arrière plan lors du défilement de la page*/
background-repeat: no-repeat; /*éviter la répétition du même arrière-plan*/
background-position: center;
margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
