<div>
    <form #f ="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
        <div>Votre Pseudo : {{form.pseudo}}</div>
        <label>Entrez votre pseudo</label>
        <input type="text" name="pseudo" value="Votre pseudo" [(ngModel)]="form.pseudo" #pseudo ="ngModel"/>
        <div class="form-error" *ngIf="pseudo.errors && f.submitted">Pseudo requis !</div>
        <label for="pseudo">Entrez votre mot de passe</label>
        <input type="text" name="password" value="Votre password" [(ngModel)]="form.password" #pseudo ="ngModel">
        <input type="submit">
    </form>
</div>